.App {
  margin: 30px 0;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(250px, 800px) minmax(30px, 1fr);
  justify-items: stretch;
  align-items: stretch;
}

.appContent {
  grid-column: 2 / 3;
}

h3 {
  margin-bottom: 3px;
}

h4 {
  font-weight: normal;
  opacity: 0.4;
  margin-top: 0;
  font-style: italic;
}

.icon {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
}

.application {
  background: #abd;
  border-radius: 10px;
  padding: 5px 5px 5px 15px;
  box-shadow: 0 1px 3px #0003;
  
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  column-gap: 10px;
}

.appRefused {
  background: #ccc;
}

.appWaiting {
  background: #b9e17a;
}

.appAccepted {
  background: #83bd29;
}

.applicationContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 35px;
  justify-items: stretch;
  align-items: center;
  column-gap: 10px;
}

.optionContainer {
  display: flex;
  align-items: center;
}

.optionContainer .icon {
  font-size: 18pt;
  margin-right: 5px;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link a {
  color: #333;
  font-size: 11pt;
  text-decoration: none;
  display: flex;
}

.link a:focus {
  color: orangered;
}

.link .linkLabel {
  text-decoration: underline;
  margin-left: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 5px;
}

.deleteButton::after {
  content: url(assets/cross.svg);
}


.addForm {
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(min-content, auto) minmax(100px, 2fr) minmax(min-content, auto) minmax(100px, 3fr) auto;
  column-gap: 10px;
  align-items: center;
}

@media (max-width: 600px) {
  .addForm {
    grid-template-columns: auto;
  }

  label, input[type="submit"] {
    margin-top: 10px;
  }
}

.addForm input {
  min-height: 38px;
}

.addForm input[type="submit"] {
  background: #46566f;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 4px #0006;
  box-sizing: border-box;
  min-width: 70px;
}

.addForm input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

/* List Animation */
.item-enter {
  opacity: 0;
  transform: translateY(10px);
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transform: translateY(0px);
  transition: transform 200ms ease-out;
}
.item-exit {
  opacity: 1;
  transform: translateX(0px);
}
.item-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 300ms, transform 200ms;
}

.archivesZone {
  background: #eee;
  padding: 5px;
  padding-bottom: 1px;
  border-radius: 12px;
  min-height: 30px;
  position: relative;
}

.archivesNoContentMessage {
  z-index: 0;
  position: absolute;
  top: 9px;
  left: 15px;
  opacity: 0.5;
  transition: opacity 0.8s;
}

.hidden {
  opacity: 0;
}

.archives {
  position:relative;
  z-index:1;
}

.collapseTitle {
  margin: 20px 0 5px 0;
  cursor: pointer;
}

.collapseArrow {
  margin-right: 2px;
  transition: transform 0.5s;
}

.closedArrow {
  transform: rotateZ(-90deg);
}

.ReactCollapse--collapse {
  transition: height 500ms;
}