.App {
  margin: 30px auto;
  max-width: 800px;
}

h3 {
  margin-bottom: 3px;
}

h4 {
  font-weight: normal;
  opacity: 0.4;
  margin-top: 0;
  font-style: italic;
}

.application {
  background: #abd;
  border-radius: 10px;
  margin: 3px 0;
  padding: 5px 5px 5px 15px;
}

.application span {
  display: inline-block;
  min-width: 100px;
}

.application .icon {
  font-size: 20pt;
  min-width: 30pt;
}

.application .stateName {
  min-width: 150px;
}

.application a {
  color: #333;
  font-size: 11pt;
}

.application a span {
  text-decoration: underline;
}

.application a .icon {
  text-decoration: none;
  font-size: 11pt;
  min-width: 15pt;
}

.addForm {
  margin-top: 20px;
}

.addForm label {
  margin-right: 10px;
}

.addForm input[type="text"] {
  margin-left: 10px;
  width: 120px;
}

.icon {
  font-family: 'Segoe UI Emoji';
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  height: 30px;
  padding: 5px;
}

.deleteButton::after {
  content: url(cross.svg);
}
